<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% if page.title %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
  </head>
  <body>
    <a href = "/">
      <div id="logo-wrapper">
        <img id="flag" src="/assets/flag.png"/>
        <div id="central">
          <img id="logo" src="/assets/logo.png"/>
        </div>
      </div>
    </a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          {% for item in site.menu %}
            {% if page.url == item.url %}
            {% assign is_current = "active" %}
            {% else %}
            {% assign is_current = "" %}
            {% endif %}
            <li class="nav-item {{ is_current }}">
              <a class="nav-link" href="{{ item.url }}">
                {{ item.text }}
                {% if page.url == item.url %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
    {{ content }}
    </main>
    <footer class="container">
      <hr>
      <p>© Non-binary London <script>document.write(new Date().getFullYear());</script></p>
    </footer>
  </body>
</html>
